.calendar-modal-view-title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  overflow-wrap: anywhere;
}

.calendar-modal-view-description {
  margin: 0;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}
